.elementor-7816 .elementor-element.elementor-element-4d7085d4 > .elementor-container > .elementor-row {
    align-items: stretch;
}

.elementor-7816 .elementor-element.elementor-element-4d7085d4 {
    padding: 50px 0px 100px 0px;
}

.elementor-bc-flex-widget .elementor-7816 .elementor-element.elementor-element-3c410f50.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-7816 .elementor-element.elementor-element-3c410f50.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-7816 .elementor-element.elementor-element-3c410f50.elementor-column > .elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-7816 .elementor-element.elementor-element-3c410f50 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7816 .elementor-element.elementor-element-3c410f50 > .elementor-element-populated.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field input:not([type=submit]):not([type=image]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]), .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field textarea, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field select, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field-description.wpforms-disclaimer-description, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-container-full .wpforms-form ul.wpforms-image-choices-modern label {
    padding: 10px 10px 10px 10px;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field input[type="checkbox"] + label:before, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field input[type="radio"] + label:before {
    height: 10px;
    width: 10px;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field input[type="checkbox"]:checked + label:before {
    font-size: calc( 10px / 1.2 );
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field input:not([type=submit]):not([type=image]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]), .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field textarea, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field select, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field-description.wpforms-disclaimer-description, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-container-full .wpforms-form ul.wpforms-image-choices-modern label, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-container select option {
    background-color: #fafafa;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field input[type="checkbox"] + label:before, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style input[type="radio"] + label:before {
    background-color: #fafafa;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style input[type="radio"]:checked + label:before {
    background-color: #7a7a7a;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field input[type="radio"]:checked + label:before {
    box-shadow: inset 0px 0px 0px 4px #fafafa;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field-label, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-page-indicator-steps, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field-divider, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field-divider h3, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field-radio li label, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field-payment-multiple li label, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-single-item-price, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field-checkbox li label, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-payment-total, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-page-indicator-page-title, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field-captcha .wpforms-field-label, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field-likert_scale .wpforms-field-label, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-field-file-upload input[type=file] {
    color: #000000;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field input:not([type=submit]):not([type=image]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]), .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field input::placeholder, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field textarea, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field textarea::placeholder, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field select, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field input[type="checkbox"]:checked + label:before, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field-description.wpforms-disclaimer-description, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field-likert_scale tbody tr th {
    color: #000000;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field.wpforms-field-radio input[type="radio"]:checked + label:before, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field.wpforms-field-payment-multiple input[type="radio"]:checked + label:before {
    background-color: #000000;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field-description, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field-sublabel, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field-html, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field-likert_scale thead tr th {
    color: #000000;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field input:not([type=submit]):not([type=image]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]), .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field textarea, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field select {
    border-style: solid;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field input[type="checkbox"] + label:before, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field input[type="radio"] + label:before, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-container-full .wpforms-form ul.wpforms-image-choices-modern label, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field-description.wpforms-disclaimer-description {
    border-style: solid;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field input:not([type=submit]):not([type=image]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]), .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field textarea, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field select, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field-description.wpforms-disclaimer-description {
    border-width: 1px 1px 1px 1px;
    border-color: #D9CB5F47;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field input[type="checkbox"] + label:before, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field input[type="radio"] + label:before, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form ul.wpforms-image-choices-modern label, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form ul.wpforms-image-choices-modern label:hover, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field-description.wpforms-disclaimer-description {
    border-width: 1px 1px 1px 1px;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field input[type="checkbox"] + label:before, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field input[type="radio"] + label:before, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form ul.wpforms-image-choices-modern label, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form ul.wpforms-image-choices-modern label:hover, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-page-indicator.circles {
    border-color: #D9CB5F47;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field input:not([type=submit]):not([type=image]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]), .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field textarea, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field select, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field input[type="checkbox"] + label:before, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field-description.wpforms-disclaimer-description, .elementor-7816 .elementor-element.elementor-element-59d6756.uael-wpf-style-underline .wpforms-container-full .wpforms-form ul.wpforms-image-choices-modern label {
    border-radius: 10px 10px 10px 10px;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .wpforms-form .wpforms-field input:not([type=submit]):not([type=image]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]), .elementor-7816 .elementor-element.elementor-element-59d6756 .wpforms-form .wpforms-field select, .elementor-7816 .elementor-element.elementor-element-59d6756 .wpforms-form .wpforms-field textarea, .elementor-7816 .elementor-element.elementor-element-59d6756 .wpforms-form .wpforms-field-description.wpforms-disclaimer-description, .elementor-7816 .elementor-element.elementor-element-59d6756 .wpforms-form ul.wpforms-image-choices-modern label {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.07);
}

.elementor-7816 .elementor-element.elementor-element-59d6756.uael-wpf-check-yes .uael-wpf-style .wpforms-form .wpforms-field input[type="checkbox"] + label:before, .elementor-7816 .elementor-element.elementor-element-59d6756.uael-wpf-check-yes .uael-wpf-style .wpforms-form .wpforms-field input[type="radio"] + label:before {
    width: 21px;
    height: 21px;
    background-color: #fafafa;
}

.elementor-7816 .elementor-element.elementor-element-59d6756.uael-wpf-check-yes .uael-wpf-style .wpforms-form .wpforms-field input[type="checkbox"]:checked + label:before {
    font-size: calc( 21px / 1.2 );
    color: #39322A;
}

.elementor-7816 .elementor-element.elementor-element-59d6756.uael-wpf-check-yes .uael-wpf-style .wpforms-form .wpforms-field input[type="radio"]:checked + label:before {
    box-shadow: inset 0px 0px 0px 4px #fafafa;
    background-color: #39322A;
}

.elementor-7816 .elementor-element.elementor-element-59d6756.uael-wpf-check-yes .uael-wpf-style .wpforms-form .wpforms-field input[type="checkbox"] + label:before,.elementor-7816 .elementor-element.elementor-element-59d6756.uael-wpf-check-yes .uael-wpf-style .wpforms-form .wpforms-field input[type="radio"] + label:before {
    border-color: #39322A;
    border-width: 1px;
    border-style: solid;
}

.elementor-7816 .elementor-element.elementor-element-59d6756.uael-wpf-check-yes .uael-wpf-style .wpforms-form .wpforms-field input[type="checkbox"] + label:before {
    border-radius: 0px 0px 0px 0px;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form button[type=submit], .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-page-button {
    padding: 0px 0px 0px 0px;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form button[type=submit], .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form button[type=submit]:hover, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-page-button, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-page-button:hover {
    color: #FFFFFF;
    background-color: #39322A;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form button[type=submit], .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-page-button {
    border-radius: 10px 10px 10px 10px;
    font-size: 19px;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style label.wpforms-error {
    color: #ff0000;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-confirmation-container-full, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-confirmation-container {
    color: #000000;
    background-color: #00000000;
    border-color: #02010100;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-confirmation-container-full, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-confirmation-container {
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    line-height: 19em;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field, .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-field-address .wpforms-field-row {
    margin-bottom: 0px;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-container.inline-fields .wpforms-field-container .wpforms-field {
    padding-right: 0px;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form button[type=submit], .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-field-pagebreak {
    margin-top: 0px;
}

.elementor-7816 .elementor-element.elementor-element-59d6756.elementor-widget-uael-wpf-styler .uael-wpf-style .wpforms-container.inline-fields button[type=submit] {
    margin-top: 0px;
}

.elementor-7816 .elementor-element.elementor-element-59d6756 > .elementor-widget-container {
    padding: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.13);
}

.elementor-7816 .elementor-element.elementor-element-466b6f0f .elementor-icon-wrapper {
    text-align: center;
}

.elementor-7816 .elementor-element.elementor-element-466b6f0f.elementor-view-stacked .elementor-icon {
    background-color: #39322A;
}

.elementor-7816 .elementor-element.elementor-element-466b6f0f.elementor-view-framed .elementor-icon, .elementor-7816 .elementor-element.elementor-element-466b6f0f.elementor-view-default .elementor-icon {
    color: #39322A;
    border-color: #39322A;
}

.elementor-7816 .elementor-element.elementor-element-466b6f0f.elementor-view-framed .elementor-icon, .elementor-7816 .elementor-element.elementor-element-466b6f0f.elementor-view-default .elementor-icon svg {
    fill: #39322A;
}

.elementor-7816 .elementor-element.elementor-element-466b6f0f .elementor-icon {
    font-size: 36px;
}

.elementor-7816 .elementor-element.elementor-element-466b6f0f .elementor-icon svg {
    height: 36px;
}

.elementor-7816 .elementor-element.elementor-element-466b6f0f > .elementor-widget-container {
    margin: -40px 0px 0px 0px;
}

#elementor-popup-modal-7816 .dialog-message {
    width: 640px;
    height: 100vh;
    align-items: center;
}

#elementor-popup-modal-7816 {
    justify-content: center;
    align-items: center;
    pointer-events: all;
    background-color: #FFFFFF;
}

#elementor-popup-modal-7816 .dialog-widget-content {
    animation-duration: 1.2s;
    background-color: #FFFFFF;
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-7816 .elementor-element.elementor-element-3c410f50 {
        width:100%;
    }
}

@media(max-width: 1024px) {
    .elementor-7816 .elementor-element.elementor-element-4d7085d4 {
        padding:10px 60px 100px 60px;
    }

    .elementor-7816 .elementor-element.elementor-element-466b6f0f .elementor-icon-wrapper {
        text-align: center;
    }

    .elementor-7816 .elementor-element.elementor-element-466b6f0f .elementor-icon {
        font-size: 33px;
    }

    .elementor-7816 .elementor-element.elementor-element-466b6f0f .elementor-icon svg {
        height: 33px;
    }

    .elementor-7816 .elementor-element.elementor-element-466b6f0f > .elementor-widget-container {
        margin: -37px 23px 0px 0px;
    }
}

@media(max-width: 767px) {
    .elementor-7816 .elementor-element.elementor-element-4d7085d4 {
        padding:10px 0px 100px 0px;
    }

    .elementor-7816 .elementor-element.elementor-element-3c410f50 {
        width: 100%;
    }

    .elementor-7816 .elementor-element.elementor-element-3c410f50.elementor-column > .elementor-widget-wrap {
        justify-content: flex-start;
    }

    .elementor-7816 .elementor-element.elementor-element-59d6756.elementor-widget-uael-wpf-styler .uael-wpf-style .wpforms-container.inline-fields button[type=submit] {
        margin-top: 0px;
    }

    .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form button[type=submit], .elementor-7816 .elementor-element.elementor-element-59d6756 .uael-wpf-style .wpforms-form .wpforms-page-button {
        font-size: 15px;
    }

    .elementor-7816 .elementor-element.elementor-element-466b6f0f .elementor-icon-wrapper {
        text-align: center;
    }

    .elementor-7816 .elementor-element.elementor-element-466b6f0f .elementor-icon {
        font-size: 30px;
    }

    .elementor-7816 .elementor-element.elementor-element-466b6f0f .elementor-icon svg {
        height: 30px;
    }

    .elementor-7816 .elementor-element.elementor-element-466b6f0f > .elementor-widget-container {
        margin: -35px -10px 0px 0px;
    }

    #elementor-popup-modal-7816 .dialog-widget-content {
        margin: 0px 0px 0px 0px;
    }

    #elementor-popup-modal-7816 .dialog-message {
        padding: 0px 0px 0px 0px;
    }
}
