.elementor-10680 .elementor-element.elementor-element-455c42e > .elementor-container > .elementor-row {
    align-items: stretch;
}

.elementor-10680 .elementor-element.elementor-element-455c42e {
    margin-top: -50px;
    margin-bottom: 0px;
}

.elementor-10680 .elementor-element.elementor-element-5db647a .plus-pricing-table .pricing-price-wrap.style-1 span.price-prefix-text,.elementor-10680 .elementor-element.elementor-element-5db647a .plus-pricing-table .pricing-price-wrap.style-1 .pricing-price,.elementor-10680 .elementor-element.elementor-element-5db647a .plus-pricing-table .pricing-price-wrap.style-2 .pricing-price,.elementor-10680 .elementor-element.elementor-element-5db647a .plus-pricing-table .pricing-price-wrap.style-3 .pricing-price {
    font-size: 40px;
    font-weight: 700;
    color: #20915A;
}

.elementor-10680 .elementor-element.elementor-element-5db647a .plus-pricing-table ul.plus-icon-list-items span.plus-icon-list-text {
    font-size: 15px;
}

.elementor-10680 .elementor-element.elementor-element-5db647a .plus-pricing-table ul.plus-icon-list-items li {
    justify-content: flex-start;
}

.elementor-10680 .elementor-element.elementor-element-5db647a .plus-pricing-table .pricing-content-wrap.listing-content li span.plus-icon-list-icon {
    font-size: 14px;
}

.elementor-10680 .elementor-element.elementor-element-5db647a .plus-pricing-table .pricing-content-wrap.listing-content li span.plus-icon-list-icon svg {
    width: 14px;
    height: 14px;
}

.elementor-10680 .elementor-element.elementor-element-5db647a .pricing-content-wrap.listing-content.style-1 ul.plus-icon-list-items, .elementor-10680 .elementor-element.elementor-element-5db647a .pricing-content-wrap.listing-content.style-2 {
    padding: 0px 0px 0px 0px;
}

.elementor-10680 .elementor-element.elementor-element-5db647a .plus-pricing-table .pricing-content-wrap.listing-content.style-1 li {
    margin-bottom: 5px;
}

.elementor-10680 .elementor-element.elementor-element-5db647a .plus-pricing-table .pricing-content-wrap.listing-content.style-2 li {
    padding: 5px 0;
}

.elementor-10680 .elementor-element.elementor-element-5db647a .plus-pricing-table .plus-icon-list-items .plus-icon-list-item .plus-icon-list-icon {
    margin-right: 5px;
}

.elementor-10680 .elementor-element.elementor-element-5db647a .plus-pricing-table .pricing-content-wrap.listing-content.style-1 a.read-more-options, .elementor-10680 .elementor-element.elementor-element-5db647a .plus-pricing-table .pricing-content-wrap.listing-content.style-1 .plus-icon-list-items .plus-icon-list-text {
    color: #29A96B;
}

.elementor-10680 .elementor-element.elementor-element-5db647a .plus-pricing-table .pricing-content-wrap.listing-content.style-1 ul.plus-icon-list-items,.elementor-10680 .elementor-element.elementor-element-5db647a .pricing-content-wrap.listing-content.style-1 a.read-more-options {
    border-color: #FFFFFF;
    border-width: 1px 1px 1px 1px;
}

.elementor-10680 .elementor-element.elementor-element-5db647a .plus-pricing-table .pricing-content-wrap.listing-content.style-1:hover ul.plus-icon-list-items,.elementor-10680 .elementor-element.elementor-element-5db647a .pricing-content-wrap.listing-content.style-1:hover a.read-more-options {
    border-color: #FFFFFF;
}

.elementor-10680 .elementor-element.elementor-element-5db647a .tippy-popper,.elementor-10680 .elementor-element.elementor-element-5db647a .pt_plus_social_list .social_list {
    {
        CURRENT_ITEM}
}

.tippy-popper,.elementor-10680 .elementor-element.elementor-element-5db647a .cascading-image {
    {
        CURRENT_ITEM}
}

.tippy-popper,.elementor-10680 .elementor-element.elementor-element-5db647a .pin-hotspot-loop {
    {
        CURRENT_ITEM}
}

.tippy-popper {
    max-width: 200px;
    width: 200px;
}

.elementor-10680 .elementor-element.elementor-element-5db647a .tp-tooltip-on-icon {
    margin-left: 0px;
}

.elementor-10680 .elementor-element.elementor-element-5db647a .tp-tooltip-on-icon i {
    color: #9A9A9A;
    font-size: 16px;
}

.elementor-10680 .elementor-element.elementor-element-5db647a .tp-tooltip-on-icon svg {
    fill: #9A9A9A;
    stroke: #9A9A9A;
    width: 16px;
    height: 16px;
}

.elementor-10680 .elementor-element.elementor-element-5db647a .pt-plus-button-wrapper {
    margin-top: 0px;
}

.elementor-10680 .elementor-element.elementor-element-5db647a .pt_plus_button .button-link-wrap {
    padding: 8px 35px 8px 35px;
    color: #42FFA3;
}

.elementor-10680 .elementor-element.elementor-element-5db647a .pt_plus_button.button-style-7 .button-link-wrap:after {
    border-color: #42FFA3;
}

.elementor-10680 .elementor-element.elementor-element-5db647a .pt_plus_button.button-style-8 .button-link-wrap {
    background-color: #091039;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #313131;
    border-radius: 100px 100px 100px 100px;
}

.elementor-10680 .elementor-element.elementor-element-5db647a .plus-pricing-table:hover .pt_plus_button.button-style-8 .button-link-wrap {
    border-color: #313131;
}

.elementor-10680 .elementor-element.elementor-element-5db647a .pt_plus_button.button-style-8 .button-link-wrap:hover {
    border-color: #313131;
}

.elementor-10680 .elementor-element.elementor-element-5db647a .plus-pricing-table .pricing-table-inner .pricing-cta-text,.elementor-10680 .elementor-element.elementor-element-5db647a .plus-pricing-table .pricing-table-inner .pricing-cta-text p {
    color: #313131;
}

.elementor-10680 .elementor-element.elementor-element-5db647a .plus-pricing-table.pricing-style-1 .pricing-table-inner,.elementor-10680 .elementor-element.elementor-element-5db647a .plus-pricing-table.pricing-style-2 .pricing-table-inner,.elementor-10680 .elementor-element.elementor-element-5db647a .plus-pricing-table.pricing-style-3 .pricing-top-part {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
    transform: scale(1);
}

.elementor-10680 .elementor-element.elementor-element-f128d47 > .elementor-container > .elementor-row {
    align-items: stretch;
}

.elementor-10680 .elementor-element.elementor-element-e034ccd .pp-divider, .elementor-10680 .elementor-element.elementor-element-e034ccd .divider-border {
    border-style: solid;
}

.elementor-10680 .elementor-element.elementor-element-e034ccd .pp-divider.horizontal {
    width: 100%;
    border-bottom-width: 2px;
}

.elementor-10680 .elementor-element.elementor-element-e034ccd .pp-divider.pp-divider-horizontal {
    width: 100%;
    border-bottom-width: 2px;
}

.elementor-10680 .elementor-element.elementor-element-e034ccd .divider-text-container {
    width: 100%;
}

.elementor-10680 .elementor-element.elementor-element-e034ccd {
    text-align: center;
}

.elementor-10680 .elementor-element.elementor-element-e034ccd .divider-text-wrap {
    align-items: center;
}

.elementor-10680 .elementor-element.elementor-element-e034ccd .divider-border {
    border-top-width: 2px;
}

.elementor-10680 .elementor-element.elementor-element-e034ccd .divider-border-left .divider-border {
    border-color: #EBEBEB;
}

.elementor-10680 .elementor-element.elementor-element-e034ccd .divider-border-right .divider-border {
    border-color: #EBEBEB;
}

.elementor-10680 .elementor-element.elementor-element-e034ccd .pp-divider-image {
    width: 164px;
}

.elementor-10680 .elementor-element.elementor-element-e1b3548 > .elementor-container > .elementor-row {
    align-items: stretch;
}

.elementor-10680 .elementor-element.elementor-element-319c415.pp-info-list-icon-left .pp-info-list-item:not(:last-child) .pp-info-list-item-inner, .elementor-10680 .elementor-element.elementor-element-319c415.pp-info-list-icon-right .pp-info-list-item:not(:last-child) .pp-info-list-item-inner {
    margin-bottom: 10px;
}

.elementor-10680 .elementor-element.elementor-element-319c415.pp-info-list-icon-top .pp-info-list-item .pp-info-list-item-inner {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-10680 .elementor-element.elementor-element-319c415.pp-info-list-icon-top .pp-list-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

.elementor-10680 .elementor-element.elementor-element-319c415 .pp-list-items .pp-info-list-icon {
    font-size: 21px;
    line-height: 21px;
    height: 21px;
    width: 21px;
}

.elementor-10680 .elementor-element.elementor-element-319c415 .pp-list-items .pp-info-list-image img {
    width: 21px;
}

.elementor-10680 .elementor-element.elementor-element-319c415 .pp-infolist-icon-wrapper {
    width: 21px;
    height: 21px;
}

.elementor-10680 .elementor-element.elementor-element-319c415.pp-info-list-icon-left .pp-info-list-container .pp-infolist-icon-wrapper:before {
    left: calc((21px/2) - (2px/2));
    bottom: 21px;
}

.elementor-10680 .elementor-element.elementor-element-319c415.pp-info-list-icon-left .pp-info-list-container .pp-infolist-icon-wrapper:after {
    left: calc((21px/2) - (2px/2));
    top: 21px;
}

.elementor-10680 .elementor-element.elementor-element-319c415.pp-info-list-icon-right .pp-info-list-container .pp-infolist-icon-wrapper:before {
    right: calc((21px/2) - (2px/2));
    bottom: 21px;
}

.elementor-10680 .elementor-element.elementor-element-319c415.pp-info-list-icon-right .pp-info-list-container .pp-infolist-icon-wrapper:after {
    right: calc((21px/2) - (2px/2));
    top: 21px;
}

.elementor-10680 .elementor-element.elementor-element-319c415.pp-info-list-icon-top .pp-info-list-container .pp-infolist-icon-wrapper:before {
    top: calc((21px/2) - (2px/2));
    right: 21px;
}

.elementor-10680 .elementor-element.elementor-element-319c415.pp-info-list-icon-top .pp-info-list-container .pp-infolist-icon-wrapper:after {
    top: calc((21px/2) - (2px/2));
    left: 21px;
}

.elementor-10680 .elementor-element.elementor-element-319c415.pp-info-list-icon-left .pp-infolist-icon-wrapper {
    margin-right: 9px;
}

.elementor-10680 .elementor-element.elementor-element-319c415.pp-info-list-icon-right .pp-infolist-icon-wrapper {
    margin-left: 9px;
}

.elementor-10680 .elementor-element.elementor-element-319c415.pp-info-list-icon-top .pp-infolist-icon-wrapper {
    margin-bottom: 9px;
}

.elementor-10680 .elementor-element.elementor-element-319c415 .pp-infolist-content-wrapper {
    text-align: center;
}

.elementor-10680 .elementor-element.elementor-element-319c415 .pp-info-list-title {
    font-size: 20px;
    font-weight: 800;
}

.elementor-10680 .elementor-element.elementor-element-319c415 .pp-info-list-description {
    font-size: 15px;
    font-weight: 600;
}

.elementor-10680 .elementor-element.elementor-element-319c415 .pp-info-list-button {
    margin-top: -20px;
    background-color: #09103900;
    color: #20915A;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
}

.elementor-10680 .elementor-element.elementor-element-319c415 .pp-info-list-button svg {
    fill: #20915A;
}

.elementor-10680 .elementor-element.elementor-element-319c415 .pp-info-list-button:hover {
    background-color: #00000000;
    color: #000000;
}

.elementor-10680 .elementor-element.elementor-element-7712956 > .elementor-container > .elementor-row {
    align-items: stretch;
}

.elementor-10680 .elementor-element.elementor-element-efcbfdc.pp-info-list-icon-left .pp-info-list-item:not(:last-child) .pp-info-list-item-inner, .elementor-10680 .elementor-element.elementor-element-efcbfdc.pp-info-list-icon-right .pp-info-list-item:not(:last-child) .pp-info-list-item-inner {
    margin-bottom: 10px;
}

.elementor-10680 .elementor-element.elementor-element-efcbfdc.pp-info-list-icon-top .pp-info-list-item .pp-info-list-item-inner {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-10680 .elementor-element.elementor-element-efcbfdc.pp-info-list-icon-top .pp-list-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

.elementor-10680 .elementor-element.elementor-element-efcbfdc .pp-list-items .pp-info-list-icon {
    font-size: 21px;
    line-height: 21px;
    height: 21px;
    width: 21px;
}

.elementor-10680 .elementor-element.elementor-element-efcbfdc .pp-list-items .pp-info-list-image img {
    width: 21px;
}

.elementor-10680 .elementor-element.elementor-element-efcbfdc .pp-infolist-icon-wrapper {
    width: 21px;
    height: 21px;
}

.elementor-10680 .elementor-element.elementor-element-efcbfdc.pp-info-list-icon-left .pp-info-list-container .pp-infolist-icon-wrapper:before {
    left: calc((21px/2) - (2px/2));
    bottom: 21px;
}

.elementor-10680 .elementor-element.elementor-element-efcbfdc.pp-info-list-icon-left .pp-info-list-container .pp-infolist-icon-wrapper:after {
    left: calc((21px/2) - (2px/2));
    top: 21px;
}

.elementor-10680 .elementor-element.elementor-element-efcbfdc.pp-info-list-icon-right .pp-info-list-container .pp-infolist-icon-wrapper:before {
    right: calc((21px/2) - (2px/2));
    bottom: 21px;
}

.elementor-10680 .elementor-element.elementor-element-efcbfdc.pp-info-list-icon-right .pp-info-list-container .pp-infolist-icon-wrapper:after {
    right: calc((21px/2) - (2px/2));
    top: 21px;
}

.elementor-10680 .elementor-element.elementor-element-efcbfdc.pp-info-list-icon-top .pp-info-list-container .pp-infolist-icon-wrapper:before {
    top: calc((21px/2) - (2px/2));
    right: 21px;
}

.elementor-10680 .elementor-element.elementor-element-efcbfdc.pp-info-list-icon-top .pp-info-list-container .pp-infolist-icon-wrapper:after {
    top: calc((21px/2) - (2px/2));
    left: 21px;
}

.elementor-10680 .elementor-element.elementor-element-efcbfdc.pp-info-list-icon-left .pp-infolist-icon-wrapper {
    margin-right: 9px;
}

.elementor-10680 .elementor-element.elementor-element-efcbfdc.pp-info-list-icon-right .pp-infolist-icon-wrapper {
    margin-left: 9px;
}

.elementor-10680 .elementor-element.elementor-element-efcbfdc.pp-info-list-icon-top .pp-infolist-icon-wrapper {
    margin-bottom: 9px;
}

.elementor-10680 .elementor-element.elementor-element-efcbfdc .pp-infolist-content-wrapper {
    text-align: center;
}

.elementor-10680 .elementor-element.elementor-element-efcbfdc .pp-info-list-title {
    font-size: 20px;
    font-weight: 900;
}

.elementor-10680 .elementor-element.elementor-element-efcbfdc .pp-info-list-description {
    font-size: 17px;
    font-weight: 700;
}

.elementor-10680 .elementor-element.elementor-element-efcbfdc .pp-info-list-button {
    background-color: #091039;
    color: #F0F0F0;
}

.elementor-10680 .elementor-element.elementor-element-efcbfdc .pp-info-list-button svg {
    fill: #F0F0F0;
}

.elementor-10680 .elementor-element.elementor-element-efcbfdc .pp-info-list-button:hover {
    background-color: #000000;
    color: #42FFA3;
}

.elementor-10680 .elementor-element.elementor-element-efcbfdc > .elementor-widget-container {
    padding: 10px 0px 10px 0px;
}

.elementor-10680 .elementor-element.elementor-element-ab6d2d4 > .elementor-container > .elementor-row {
    align-items: stretch;
}

.elementor-10680 .elementor-element.elementor-element-d977218 .uael-faq-container > .uael-faq-accordion:not(:last-child) {
    margin-bottom: 20px;
}

.elementor-10680 .elementor-element.elementor-element-d977218 .uael-faq-wrapper .uael-faq-container .uael-faq-accordion {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
}

.elementor-10680 .elementor-element.elementor-element-d977218 .uael-faq-container .uael-faq-accordion .uael-accordion-content {
    border-top-color: #FFFFFF;
}

.elementor-10680 .elementor-element.elementor-element-d977218 .uael-faq-container .uael-faq-accordion {
    border-radius: 5px 5px 5px 5px;
}

.elementor-10680 .elementor-element.elementor-element-d977218 .uael-faq-accordion {
    box-shadow: 0px 0px 40px -10px rgba(175, 175, 175, 0.96);
}

.elementor-10680 .elementor-element.elementor-element-d977218 .uael-faq-accordion .uael-accordion-title {
    background-color: #FFFFFF;
    padding: 15px 30px 15px 30px;
}

.elementor-10680 .elementor-element.elementor-element-d977218 .uael-faq-accordion .uael-accordion-title.uael-title-active {
    background-color: #E2E2E2;
}

.elementor-10680 .elementor-element.elementor-element-d977218 .uael-faq-accordion .uael-accordion-content {
    font-weight: 700;
    text-decoration: underline;
    background-color: #FFFFFF;
    padding: 0px 30px 30px 30px;
}

.elementor-10680 .elementor-element.elementor-element-d977218 .uael-faq-accordion.elementor-grid-item {
    background-color: #FFFFFF;
}

.elementor-10680 .elementor-element.elementor-element-d977218 .uael-faq-wrapper .uael-accordion-title .uael-accordion-icon {
    font-size: 18px;
}

.elementor-10680 .elementor-element.elementor-element-d977218 .uael-faq-wrapper .uael-accordion-title .uael-accordion-icon svg {
    height: 18px;
    width: 18px;
}

.elementor-10680 .elementor-element.elementor-element-d977218 .uael-accordion-icon.uael-accordion-icon-left {
    margin-right: 15px;
}

.elementor-10680 .elementor-element.elementor-element-d977218 .uael-accordion-icon.uael-accordion-icon-right {
    margin-left: 15px;
}

@media(max-width: 1024px) {
    .elementor-10680 .elementor-element.elementor-element-319c415.pp-info-list-stack-tablet.pp-info-list-icon-top .pp-info-list-item .pp-info-list-item-inner {
        margin-bottom:10px;
        margin-left: 0;
        margin-right: 0;
    }

    .elementor-10680 .elementor-element.elementor-element-319c415.pp-info-list-stack-tablet.pp-info-list-icon-top .pp-list-items {
        margin-right: 0;
        margin-left: 0;
    }

    .elementor-10680 .elementor-element.elementor-element-319c415.pp-info-list-stack-tablet.pp-info-list-icon-top .pp-info-list-container .pp-infolist-icon-wrapper:before {
        left: calc((21px/2) - (2px/2));
        bottom: 21px;
        right: auto;
        top: auto;
    }

    .elementor-10680 .elementor-element.elementor-element-319c415.pp-info-list-stack-tablet.pp-info-list-icon-top .pp-info-list-container .pp-infolist-icon-wrapper:after {
        left: calc((21px/2) - (2px/2));
        top: 21px;
    }

    .elementor-10680 .elementor-element.elementor-element-319c415.pp-info-list-stack-tablet.pp-info-list-icon-top .pp-infolist-icon-wrapper {
        margin-right: 9px;
        margin-bottom: 0;
    }

    .elementor-10680 .elementor-element.elementor-element-efcbfdc.pp-info-list-stack-tablet.pp-info-list-icon-top .pp-info-list-item .pp-info-list-item-inner {
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
    }

    .elementor-10680 .elementor-element.elementor-element-efcbfdc.pp-info-list-stack-tablet.pp-info-list-icon-top .pp-list-items {
        margin-right: 0;
        margin-left: 0;
    }

    .elementor-10680 .elementor-element.elementor-element-efcbfdc.pp-info-list-stack-tablet.pp-info-list-icon-top .pp-info-list-container .pp-infolist-icon-wrapper:before {
        left: calc((21px/2) - (2px/2));
        bottom: 21px;
        right: auto;
        top: auto;
    }

    .elementor-10680 .elementor-element.elementor-element-efcbfdc.pp-info-list-stack-tablet.pp-info-list-icon-top .pp-info-list-container .pp-infolist-icon-wrapper:after {
        left: calc((21px/2) - (2px/2));
        top: 21px;
    }

    .elementor-10680 .elementor-element.elementor-element-efcbfdc.pp-info-list-stack-tablet.pp-info-list-icon-top .pp-infolist-icon-wrapper {
        margin-right: 9px;
        margin-bottom: 0;
    }
}

@media(max-width: 767px) {
    .elementor-10680 .elementor-element.elementor-element-319c415.pp-info-list-stack-mobile.pp-info-list-icon-top .pp-info-list-item .pp-info-list-item-inner {
        margin-bottom:10px;
        margin-left: 0;
        margin-right: 0;
    }

    .elementor-10680 .elementor-element.elementor-element-319c415.pp-info-list-stack-mobile.pp-info-list-icon-top .pp-list-items {
        margin-right: 0;
        margin-left: 0;
    }

    .elementor-10680 .elementor-element.elementor-element-319c415.pp-info-list-stack-mobile.pp-info-list-icon-top .pp-info-list-container .pp-infolist-icon-wrapper:before {
        left: calc((21px/2) - (2px/2));
        bottom: 21px;
        right: auto;
        top: auto;
    }

    .elementor-10680 .elementor-element.elementor-element-319c415.pp-info-list-stack-mobile.pp-info-list-icon-top .pp-info-list-container .pp-infolist-icon-wrapper:after {
        left: calc((21px/2) - (2px/2));
        top: 21px;
    }

    .elementor-10680 .elementor-element.elementor-element-319c415.pp-info-list-stack-mobile.pp-info-list-icon-top .pp-infolist-icon-wrapper {
        margin-right: 9px;
        margin-bottom: 0;
    }

    .elementor-10680 .elementor-element.elementor-element-319c415 .pp-infolist-content-wrapper {
        text-align: center;
    }

    .elementor-10680 .elementor-element.elementor-element-efcbfdc.pp-info-list-stack-mobile.pp-info-list-icon-top .pp-info-list-item .pp-info-list-item-inner {
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
    }

    .elementor-10680 .elementor-element.elementor-element-efcbfdc.pp-info-list-stack-mobile.pp-info-list-icon-top .pp-list-items {
        margin-right: 0;
        margin-left: 0;
    }

    .elementor-10680 .elementor-element.elementor-element-efcbfdc.pp-info-list-stack-mobile.pp-info-list-icon-top .pp-info-list-container .pp-infolist-icon-wrapper:before {
        left: calc((21px/2) - (2px/2));
        bottom: 21px;
        right: auto;
        top: auto;
    }

    .elementor-10680 .elementor-element.elementor-element-efcbfdc.pp-info-list-stack-mobile.pp-info-list-icon-top .pp-info-list-container .pp-infolist-icon-wrapper:after {
        left: calc((21px/2) - (2px/2));
        top: 21px;
    }

    .elementor-10680 .elementor-element.elementor-element-efcbfdc.pp-info-list-stack-mobile.pp-info-list-icon-top .pp-infolist-icon-wrapper {
        margin-right: 9px;
        margin-bottom: 0;
    }

    .elementor-10680 .elementor-element.elementor-element-efcbfdc .pp-infolist-content-wrapper {
        text-align: center;
    }
}
