.elementor-11308 .elementor-element.elementor-element-a1bfa51 > .elementor-container > .elementor-row {
    align-items: stretch;
}

.elementor-11308 .elementor-element.elementor-element-a1bfa51:not(.elementor-motion-effects-element-type-background), .elementor-11308 .elementor-element.elementor-element-a1bfa51 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #091039;
}

.elementor-11308 .elementor-element.elementor-element-a1bfa51, .elementor-11308 .elementor-element.elementor-element-a1bfa51 > .elementor-background-overlay {
    border-radius: 10px 10px 0px 0px;
}

.elementor-11308 .elementor-element.elementor-element-a1bfa51 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 20px 20px 20px;
}

.elementor-11308 .elementor-element.elementor-element-a1bfa51 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-11308 .elementor-element.elementor-element-a982389 .elementor-heading-title {
    color: #FFFFFF;
    font-size: 45px;
}

.elementor-11308 .elementor-element.elementor-element-3822157 {
    color: #FFFFFF;
}

.elementor-11308 .elementor-element.elementor-element-4f97cdb > .elementor-element-populated.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-11308 .elementor-element.elementor-element-a843171 img {
    width: 100%;
}

.elementor-11308 .elementor-element.elementor-element-a843171 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-11308 .elementor-element.elementor-element-e375dc8 > .elementor-container > .elementor-row {
    align-items: stretch;
}

.elementor-11308 .elementor-element.elementor-element-e375dc8:not(.elementor-motion-effects-element-type-background), .elementor-11308 .elementor-element.elementor-element-e375dc8 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #E7E7E7;
}

.elementor-11308 .elementor-element.elementor-element-e375dc8, .elementor-11308 .elementor-element.elementor-element-e375dc8 > .elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

.elementor-11308 .elementor-element.elementor-element-e375dc8 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10px 10px 10px 10px;
}

.elementor-11308 .elementor-element.elementor-element-e375dc8 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-11308 .elementor-element.elementor-element-e570f7e.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-11308 .elementor-element.elementor-element-e570f7e.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-11308 .elementor-element.elementor-element-778fc84 .fluentform-widget-wrapper .ff-el-group .ff-btn-submit {
    background-color: #091039 !important;
    color: #06D471 !important;
    font-weight: 600;
}

#elementor-popup-modal-11308 .dialog-message {
    width: 640px;
    height: auto;
}

#elementor-popup-modal-11308 {
    justify-content: center;
    align-items: flex-end;
    pointer-events: all;
    background-color: rgba(0,0,0,.8);
}

#elementor-popup-modal-11308 .dialog-close-button {
    display: flex;
}

#elementor-popup-modal-11308 .dialog-widget-content {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 8px 23px 3px rgba(0,0,0,0.2);
    margin: 0px 0px 10px 0px;
}

#elementor-popup-modal-11308 .dialog-close-button i {
    color: #CCCCCC;
}

#elementor-popup-modal-11308 .dialog-close-button svg {
    fill: #CCCCCC;
}

@media(max-width: 1024px) {
    .elementor-11308 .elementor-element.elementor-element-a982389 .elementor-heading-title {
        font-size:42px;
    }

    .elementor-11308 .elementor-element.elementor-element-a843171 img {
        width: 100%;
    }

    #elementor-popup-modal-11308 {
        align-items: center;
    }
}

@media(min-width: 768px) {
    .elementor-11308 .elementor-element.elementor-element-37103e3 {
        width:70%;
    }

    .elementor-11308 .elementor-element.elementor-element-4f97cdb {
        width: 30%;
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-11308 .elementor-element.elementor-element-37103e3 {
        width:65%;
    }

    .elementor-11308 .elementor-element.elementor-element-4f97cdb {
        width: 35%;
    }
}

@media(max-width: 767px) {
    .elementor-11308 .elementor-element.elementor-element-a1bfa51 {
        padding:50px 10px 10px 10px;
    }

    .elementor-11308 .elementor-element.elementor-element-a982389 .elementor-heading-title {
        font-size: 31px;
    }

    #elementor-popup-modal-11308 {
        align-items: center;
    }
}
