.elementor-5880 .elementor-element.elementor-element-65db5411 > .elementor-container > .elementor-row {
    align-items: stretch;
}

.elementor-5880 .elementor-element.elementor-element-65db5411:not(.elementor-motion-effects-element-type-background), .elementor-5880 .elementor-element.elementor-element-65db5411 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-5880 .elementor-element.elementor-element-65db5411 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 50px 0px 50px;
}

.elementor-5880 .elementor-element.elementor-element-65db5411 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-5880 .elementor-element.elementor-element-361aec5.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-5880 .elementor-element.elementor-element-361aec5.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-5880 .elementor-element.elementor-element-361aec5.elementor-column > .elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-5880 .elementor-element.elementor-element-361aec5 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-5880 .elementor-element.elementor-element-361aec5 > .elementor-element-populated.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-5880 .elementor-element.elementor-element-b11a949.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-5880 .elementor-element.elementor-element-b11a949.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-5880 .elementor-element.elementor-element-b11a949.elementor-column > .elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-5880 .elementor-element.elementor-element-b11a949 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-5880 .elementor-element.elementor-element-b11a949 > .elementor-element-populated.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-5880 .elementor-element.elementor-element-2a47ec5d .elementor-button-content-wrapper {
    flex-direction: row;
}

.elementor-5880 .elementor-element.elementor-element-2a47ec5d .elementor-button {
    fill: #000000;
    color: #000000;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #39322A;
    border-radius: 100px 100px 100px 100px;
}

.elementor-5880 .elementor-element.elementor-element-2a47ec5d > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 0px;
}

.elementor-5880 .elementor-element.elementor-element-2a47ec5d {
    width: auto;
    max-width: auto;
}

.elementor-5880 .elementor-element.elementor-element-499001cf > .elementor-container > .elementor-row {
    align-items: stretch;
}

.elementor-5880 .elementor-element.elementor-element-499001cf {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-5880 .elementor-element.elementor-element-499001cf > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-5880 .elementor-element.elementor-element-6f0640c7.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-5880 .elementor-element.elementor-element-6f0640c7.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-5880 .elementor-element.elementor-element-6f0640c7.elementor-column > .elementor-widget-wrap {
    justify-content: center;
}

.elementor-5880 .elementor-element.elementor-element-6f0640c7:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-5880 .elementor-element.elementor-element-6f0640c7 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-5880 .elementor-element.elementor-element-6f0640c7 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-5880 .elementor-element.elementor-element-6f0640c7 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5880 .elementor-element.elementor-element-6f0640c7 > .elementor-element-populated.elementor-element-populated {
    padding: 10px 10px 10px 10px;
}

.elementor-5880 .elementor-element.elementor-element-13d5dac0 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#elementor-popup-modal-5880 .dialog-message {
    width: 1000px;
    height: 100vh;
    align-items: flex-start;
    padding: 0px 0px 0px 0px;
}

#elementor-popup-modal-5880 {
    justify-content: center;
    align-items: center;
    pointer-events: all;
    background-color: #FFFFFF;
}

#elementor-popup-modal-5880 .dialog-widget-content {
    animation-duration: 1.2s;
    margin: 0px 0px 0px 0px;
}

@media(min-width: 768px) {
    .elementor-5880 .elementor-element.elementor-element-6f0640c7 {
        width:100%;
    }
}

@media(max-width: 1024px) {
    .elementor-5880 .elementor-element.elementor-element-65db5411 {
        margin-top:0px;
        margin-bottom: 0px;
        padding: 20px 50px 10px 50px;
    }

    .elementor-5880 .elementor-element.elementor-element-499001cf {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-5880 .elementor-element.elementor-element-6f0640c7 > .elementor-element-populated, .elementor-5880 .elementor-element.elementor-element-6f0640c7 > .elementor-element-populated > .elementor-background-overlay, .elementor-5880 .elementor-element.elementor-element-6f0640c7 > .elementor-background-slideshow {
        border-radius: 10px 10px 10px 10px;
    }

    .elementor-5880 .elementor-element.elementor-element-6f0640c7 > .elementor-element-populated.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width: 767px) {
    .elementor-5880 .elementor-element.elementor-element-65db5411 {
        margin-top:0px;
        margin-bottom: 0px;
        padding: 20px 15px 10px 15px;
    }

    .elementor-5880 .elementor-element.elementor-element-361aec5 {
        width: 50%;
    }

    .elementor-5880 .elementor-element.elementor-element-361aec5.elementor-column > .elementor-widget-wrap {
        justify-content: flex-start;
    }

    .elementor-5880 .elementor-element.elementor-element-b11a949 {
        width: 50%;
    }

    .elementor-5880 .elementor-element.elementor-element-b11a949.elementor-column > .elementor-widget-wrap {
        justify-content: flex-end;
    }

    .elementor-5880 .elementor-element.elementor-element-b11a949 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-5880 .elementor-element.elementor-element-b11a949 > .elementor-element-populated.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-5880 .elementor-element.elementor-element-2a47ec5d .elementor-button {
        border-width: 2px 2px 2px 2px;
        padding: 0px 30px 0px 30px;
    }

    .elementor-5880 .elementor-element.elementor-element-2a47ec5d > .elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-5880 .elementor-element.elementor-element-499001cf {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-5880 .elementor-element.elementor-element-6f0640c7 {
        width: 100%;
    }

    .elementor-5880 .elementor-element.elementor-element-6f0640c7.elementor-column > .elementor-widget-wrap {
        justify-content: flex-start;
    }

    .elementor-5880 .elementor-element.elementor-element-6f0640c7 > .elementor-element-populated, .elementor-5880 .elementor-element.elementor-element-6f0640c7 > .elementor-element-populated > .elementor-background-overlay, .elementor-5880 .elementor-element.elementor-element-6f0640c7 > .elementor-background-slideshow {
        border-radius: 10px 10px 10px 10px;
    }

    .elementor-5880 .elementor-element.elementor-element-6f0640c7 > .elementor-element-populated.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-5880 .elementor-element.elementor-element-361aec5 {
        width:50%;
    }

    .elementor-5880 .elementor-element.elementor-element-b11a949 {
        width: 50%;
    }

    .elementor-5880 .elementor-element.elementor-element-6f0640c7 {
        width: 100%;
    }
}
